@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');


:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* body {
    background: var(--cor-de-fundo);
    
}


.texto_da_logo {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

.logo_e_texto {
    display: flex;
    flex-direction: row;
    width: Hug (134px)px;
    height: Hug (24px)px;
    gap: 8px;
    opacity: 0px;
    margin-left: 152px; 
    margin-top: 32px;
    align-items: center;

}

.textos_barra {
    display: flex;
    flex-direction: row;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: flex-end;
    color: #464646;
    gap: 0px;
    justify-content:flex-end;
    opacity: 0px;
    margin-top: 34.5px;
    margin-bottom: 34.5px;
    margin-left: 494px;
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

ol, ul,li {
    list-style: none;
}
 */
/* nav {
    display: flex;
    flex-direction: row;
    width: Fixed (1.136px)px;
    height: Hug (88px)px;
    padding: 32px 0px 32px 0px;
    gap: 0px;
    justify: space-between;
    opacity: 0px;
    align-items: center;
} */

